.hero {
    height: calc(50vh - var(--h-top));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    isolation: isolate;
    h1 {
        color: var(--col-white);
        text-align: center;
    }
    .overlay {
        position: absolute;
        inset: 0;
        background-color: hsla(var(--hsl-black) / 25%);
        pointer-events: none;
        z-index: -1;
    }
}