.btn {
    text-decoration: none;
    border-radius: 0.25rem;
    border-style: solid;
    display: inline-block;
}

.btn-previous, .btn-next {
    a {
        transition: all 300ms ease;
    }
    a:hover {
        text-decoration: none;
    }
}
.btn-previous:hover, .btn-next:hover {
    a {
        color: var(--col-green-600);
    }
}