.bg-green-crisp {
    background-color: var(--col-green-crisp);
    color: var(--col-white);
}
.bg-green-crisp-200 {
    background-color: var(--col-green-crisp-200);
    color: var(--col-green-deep);
}

.bg-green-soft {
    background-color: var(--col-green-soft);
    color: var(--col-white);
}

.text-green-soft {
    color: var(--col-green-soft);
}

.bg-green-deep {
    background-color: var(--col-green-deep);
    color: var(--col-white);
}

.text-green-deep {
    color: var(--col-green-deep);
}