footer {
    background-color: var(--col-white;
    color: var(--col-green-soft);
    a {
        text-decoration: none;
        color: var(--col-green-soft);
        &:hover {
            color: var(--col-white);
        }
    }

    .footer__logo {
        display: block;
        max-width: 300px;
    }
    // .footer__heading {
    //     font-size: var(--fs-300);
    //     text-transform: uppercase;
    //     letter-spacing: var(--ls-900);
    //     padding-bottom: 0.5rem;
    // }
    .menu {
        padding-inline-start: 0;
    }
    .menu-item {
        list-style: none;
        font-size: var(--fs-300);
        padding-bottom: 0.5rem;
    }
    .colophon {
        font-size: var(--fs-200);
        .container-xl {
            border-top: 1px solid hsl(var(--hsl-green-soft) / .5);
        }
    }
    .cb {
        content: url(../img/cb.png);
        filter: grayscale(1);
        transition: opacity 300ms ease;
        &:hover {
            opacity: 0.8;
        }
    }
}