header {
    #wrapper-navbar {
        background-color: var(--col-white);
        // box-shadow: 0 2px 20px hsl(var(--hsl-green-deep) / 0.25);
    }

    .navbar {
        @media (min-width: 992px) {
            border-bottom: 1px solid hsl( var(--hsl-green-soft) / 0.5 );
        }
    }


    a.nav-link {
        color: var(--col-green-deep);
        font-size: var(--fs-300);
        font-weight: var(--fw-400);
        letter-spacing: var(--ls-900);
        text-transform: uppercase;
    }


    .mobile-logo {
        max-width: 250px;
    }

    .menu-item-logo {
        display: none;
    }

    @media (min-width:992px) {
        .menu-item-logo {
            display: block;
            width: 350px;
            text-align: center;
            img {
                transition: max-width 250ms ease-in;
                max-width: 350px;
                width: 400px;
                height: auto;
            }
        }
        
        &.hidden {
            .menu-item-logo {
                img {
                    max-width: 250px;
                }
            }
        }
    }
    @media (min-width:1200px) {
        .menu-item-logo {
            width: 330px;
            img {
                max-width: 330px;
                width: 330px;
                height: auto;
            }
        }
        
        &.hidden {
            .menu-item-logo {
                img {
                    max-width: 300px;
                }
            }
        }
    }

    
}